
ScrapeWillhaben - Kopie (2).py
ScrapeWillhaben - Kopie.py
eth_test.py
eth_test - Kopie.py
db/DB Browser (SQLite).lnk
creatjson.py
Charts.py
__pycache__/helpers.cpython-38.pyc
vis_plotly.py
vis_plotly.py
db/real_estate.sqlite
db/real_estate.sqlite
austrian_bezirke.csv
